@{
    ViewData["Title"] = "联系我们";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    中国·南京骏蝶科技有限公司<br />
    Mobile: +86.189-5161-6266<br />
    <abbr title="Phone">P:</abbr>
    +86.25-86717377
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mzj@jundie.net">mzj@jundie.net</a><br />
    <strong>qq:</strong> <a href="http://wpa.qq.com/msgrd?v=3&uin=1946746&site=在线客服&menu=yes">1946746</a>
</address>
